
  //:global{
  //.ant-layout {
  //  display: flex;
  //  flex: auto;
  //  flex-direction: column;
  //  min-height: 0;
  //  background: #f0f2f5;
  //  height: 600px;
  //}
  //}


.floor-rank-total-item {
  padding: 24px 0;
  border-bottom: 1px solid #e9e9e9;
}
.active {
  color: #fc5531;
  font-size: 24px;
  margin: auto;
}
.author {
  width: 56px;
  height: 56px;
  border: 1px solid #ededed;
  border-radius: 28px;
  margin-left: 16px;
  margin-right: 16px;
}
.floor-rank-total-item {
  padding: 24px 0;
  border-bottom: 1px solid #b7b3bb;
}
.total-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.total-btn {
  width: 74px;
  cursor: pointer;
  height: 24px;
  background: #fff;
  border-radius: 14px;
  border: 1px solid #fc5531;
  line-height: 22px;
  text-align: center;
  color: #fc5531;
  margin-left: 16px;
}
.total-content {
  //display: -webkit-box;
  //display: -ms-flexbox;
  display: flex;
}
//dd {
//  font-size: 24px;
//  font-weight: 400;
//  a {
//    color: #1c1d30;
//    font-size: 24px;
//  }
//}
.bottom{
  font-size: 16px;
  margin-top: 249px;
  width: 300px;
  margin-left: 24px;
}
.background{
  background-image: url('../../assets/images/shuying.jpeg');
  background-repeat:repeat;
}
.background1{
    background-image: url('../../assets/images/paihangbang.png');
  width: 100%;
    //background-repeat:repeat;
}
  //* {
  //  box-sizing: border-box;
  //}

  //body {
  //  width: 100vw;
  //  min-height: 100vh;
  //  background-color: #f2f2f2;
  //  padding: 1vh;
  //}

  .flex__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top:10px;
    height: 140px;
    margin: auto;
    width: 1000px;
  }

  .flex__item {
    background-color: #ff5823;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //flex: 0 2;
    border: 3px solid #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    padding: 15px ;
    //margin: 0 2vh 2vh;
    width: 240px;
    margin: auto;
    position: relative;
    top:10px;
  }

  .avatar {
    width: 160px;
    height: 32px;
    //border-radius: 50%;
    //background-color: #ff131c;
  }

  //h4 {
  //  //background-color: #607d8b;
  //  font-size: 24px;
  //  font-weight: bold;
  //  width: 80%;
  //  border-radius: 4px;
  //  height: 20px;
  //  float: right;
  //  margin-bottom: 10px;
  //}

  //p {
  //  width: 100%;
  //  //height: 100px;
  //  background-image:
  //    linear-gradient(
  //    to bottom,
  //    #8b170e 0%,
  //    #ffed97 100%,
  //  );
  //  font-weight: bold;
  //  //background-size: 100% 26px;
  //  //background-repeat-y: repeat;
  //  margin-bottom: 5px;
  //  text-align: center;
  //}

  //button {
  //  min-width: 50%;
  //  height: 30px;
  //  border-radius: 4px;
  //  background-color: #607d8b;
  //  border: none;
  //  margin-top: auto;
  //  align-self: flex-start;
  //}


