.normal {
  background: white;
  display: flex;
  height:100vh;
}
.mapContainer {
  position: relative;
  height: 100%;
  flex: 1;
  .legend {
    background-color: #EEEEEE;
    border-style:dotted;
    border-width:3px;
    border-color:brown;
    padding: 10px 15px;
    position: absolute;
    left: 8px;
    bottom: 6vh;
    z-index: 2;
    height: 140px;
    span{
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin: 0 10px 0 0;
      width: 10px;
    }
    .continuous{
      position: absolute;
      width:10px;
      right: 35px;
      top:  5px;
      height:75px;
      background-image: linear-gradient(rgb(100,30,30), rgb(237,222,139));
    }
  }
}
.dangshi_div{
  position: absolute;
  top: 12%;
  right: 1%;
  height: 80px;
  width: 256px;
  border-radius: 10px;
  background-image: url("../../assets/dangshi_background.PNG");
}
.dangshi {
  position: absolute;
  height: 80px;
  width: 256px;
  opacity: 0.2;
}
.dangshi_font {
  position: absolute;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-style: oblique;
  letter-spacing: 2px;
  left: 35%;
  top: 37%;
}
.markerTop {
  text-align: center;
  color: red;
}
h2 {
  text-align: center;
  color: red;
}
span {
  color: red;
}
 a,a:hover {
  font-size: 13px;
  color: red;
  text-align: center;
  display: block;
}
 .modal{
   span {
     color: black;
   }

 }



 //121.23 31.03


