.normal {
  background: white;
  display: flex;
  height: calc(100vh - 100px);
}
.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .legend {
    background-color: #EEEEEE;
    border-style:dotted;
    border-width:3px;
    border-color:brown;
    padding: 10px 15px;
    position: absolute;
    left: 8px;
    bottom: 6vh;
    z-index: 2;
    height: 140px;
    span {
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin: 0 10px 0 0;
      width: 10px;
    }
    .continuous{
      position: absolute;
      width:10px;
      right: 35px;
      top:  5px;
      height:75px;
      background-image: linear-gradient(rgb(100,30,30), rgb(237,222,139));
    }
  }
}
.siderStyle{
  background:url("../../assets/images/wenli.jfif");
  overflow:auto;
}
.popupDiv{
  .hand{
    cursor:pointer;
  .popup{
    color: rgba(177,46,46);
    padding-right: 5px;
  }
  }
  :global{
    .ant-row{
      height:10px;
    }
  }
}
.date{
  color: rgba(177,46,46);
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  width: 80%;
}
.verticalTimeLine{
  overflow-y: scroll;
}
.dangshi_div{
  position: absolute;
  top: 12%;
  right: 1%;
  height: 80px;
  width: 256px;
  border-radius: 10px;
  background-image: url("../../assets/dangshi_background.PNG");
}
.dangshi_div1{
  position: absolute;
  top: 24%;
  right: 1%;
  height: 80px;
  width: 256px;
  border-radius: 10px;
  background-image: url("../../assets/dangshi_background.PNG");
}
.dangshi {
  position: absolute;
  height: 80px;
  width: 256px;
  opacity: 0.2;
}
.first {
  position: absolute;
  height: 80px;
  width: 256px;
  opacity: 0.2;
}
.dangshi_font {
  position: absolute;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-style: oblique;
  letter-spacing: 2px;
  left: 35%;
  top: 37%;
}
.markerTop {
  text-align: center;
  color: red;
}
.icons{
  float:right;
  animation-name: light;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes light{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
h2 {
  text-align: center;
  color: red;
}
//span {
//  color: red;
//}
 a,a:hover {
  font-size: 13px;
  //color: red;
  text-align: center;
  display: block;
}
 .modal{
    span {
      color: black;
    };
   :global{
     .slick-prev:before, .slick-next:before {
       font-family: 'slick';
       font-size: 40px;
       line-height: 4;
       opacity: .75;
       color: #a72021;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
     }
     .slick-slider {
       position: relative;
       display: block;
       box-sizing: border-box;
       left: -7px;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       -webkit-touch-callout: none;
       -khtml-user-select: none;
       touch-action: pan-y;
       -webkit-tap-highlight-color: transparent;
     }
     //.slick-next:before {
     //       font-family: 'slick';
     //       font-size: 20px;
     //       line-height: 1;
     //       opacity: .75;
     //       color: #a72021;
     //       -webkit-font-smoothing: antialiased;
     //       -moz-osx-font-smoothing: grayscale;
     //     }
   }
    background-color:beige;
    //background-Image:url("../../assets/background.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
  }
.timeline {
  color: red;
  margin-left: 23%;
  margin-top: 10%;
}
:global{
  .ant-layout-sider-trigger{
    background: rgba(177,46,46);
  }
}
.web {
  .ant-modal-content {
    position: relative;
    background-color: #00000000 !important;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .ant-modal-body {
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 1 !important;
  }
}
.radio{
  position: relative;
  left:10%;
  top:2em;
}
.top{
  position: relative;
  top: 4px;
  left: -2px;
  height: 90px;
  width: 960px;
  background-Image:url("../../assets/headerQuestion.PNG");
}
.top1{
  position: relative;
  top: 4px;
  left: -2px;
  height: 90px;
  width: 960px;
  background-Image:url("../../assets/headerQuestion.PNG");
}
.topArticle{
  height: 72px;
  width: 960px;
  background-Image:url("../../assets/article.PNG");
}
.topVideo{
  height: 72px;
  width: 960px;
  background-Image:url("../../assets/video.PNG");

}
.topPicture{
  height: 80px;
  width: 960px;
  background-Image:url("../../assets/picture.PNG");

}
.bottom{
  position: relative;
  /* position: fixed; */
  //bottom: -19px;
  left: -2px;
  height: 50px;
  width: 960px;
  background-Image:url("../../assets/bottomAnswer.PNG");
}
.try{
  height: 60px;
  width: 60px;
  position: relative;
  right: -600px;
  background-Image:url("../../assets/1.gif");
}
:global {
  .ant-btn-primary {
    color: #fff;
    //background-color: #cb1e1e;
    //border-color: #cb1e1e;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    height: 670px;
  }
  .ant-card-head-title{
    font-size: 28px;
    text-align: center;
  }

  .ant-card-body {
    //padding: 2px;
    zoom: 1;
    font-size: 24px;
    //text-indent: -2em;
  }
  .ant-col-12{
    width: 400px;
    height: 50px;
  }
  .ant-card-bordered {
    border: 0;
  }
}
.exampleContainer{
  background: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}
//动画
@keyframes picture{
  0%   { background-Image:url("../../assets/unnamed.jpg");}
  25%  { background-Image:url("../../assets/KkpJ-hukwxnu5742888.jpg");}
  50%  {background-Image:url("../../assets/unnamed.jpg");}
  100% {background-Image:url("../../assets/1.gif");}

}
.copyright{
  position:absolute;
  bottom:0;
  //width:50px;
  background: rgba(255,255,255,0.5);
  height:20px;
  right:0;
  font-size:10px;
  padding: 2px;
}
.out{
  width: 50vw;
  height: 30vh;
  position: absolute;
  flex: 2;
  left: 10%;
  top: 40%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name:picture;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
 //121.23 31.03
.zhonggongyida{
  margin-top:10px;
  :global{
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #f5222d;
      border-color: #f5222d;
    }
    .ant-checkbox-wrapper {
      font-size:5px;
    }
    .ant-checkbox-checked:hover {
      border: 1px solid red;
    }
  }
}
.features {
  width: 30%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}
.selection{
  padding:  25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  font-size: 13px;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 600px;
}
.layer{
  border-radius: 5px;
  position: absolute;
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
}
.popup1{
  width: 30px;
  height: 30px;
  background: url('../../assets/test/c1.jpg');
  background-size: 100% 100%;
}
.popupImg{
  width: 30px;
  height: 30px;
}
.question {
  font-size: 16px;
  color: #595959;
  padding: 16px 24px;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  height: 720px;
  :global {
    //.ant-checkbox-checked {
    //  background-color: #1890ff;
    //  border-color: #1890ff;
    //}
    .ant-checkbox-inner {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 70px;
      height: 25px;
      background-color: #ba9e83;
      border: 2px solid red;
      border-radius: 2px;
      border-collapse: separate;
      transition: all 0.3s;
      //background-color: slategray;
    }
    .ant-btn-primary {
      color: #fff;
      //background-color: #cb1e1e;
      //border-color: #cb1e1e;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
      box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    }
    .ant-modal-body {
      padding: 10px 20px 20px 20px;
    }
    //.ant-btn ant-btn-primary{
    //  background:#e2e4e5;
    //}
    .ant-card-head-title{
      font-size: 28px;
      text-align: center;
    }

    .ant-card-body {
      //padding: 2px;
      zoom: 1;
      font-size: 24px;
      //text-indent: -2em;
    }
    .ant-col-12{
      width: 400px;
      height: 50px;
    }
    .ant-card-bordered {
      border: 0;
    }
    label.ant-checkbox-wrapper{
      width: 300px;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      //position: absolute;
      //display: table;
      //border: 2px solid #fff;
      //border-top: 0;
      //border-left: 0;
      //transform: rotate(
      //  45deg
      //) scale(1) translate(-50%, -50%);
      opacity: 0;
      //transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      //content: ' ';
    }
  }
}

.q-body {
  margin-top: 16px;
  color: #262626;
  line-height: 28px;
  margin-bottom: 16px;
  word-break: break-all;
}
.header-row {
  width: 640px;
  margin: 0 auto 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}
//.correct {
//  position: relative;
//  top: 0;
//  left: 0;
//  display: block;
//  width: 70px;
//  height: 25px;
//  //background-color: #fff;
//  /* border: 1px solid #d9d9d9; */
//  border-radius: 2px;
//  border-collapse: separate;
//  transition: all 0.3s;
//  background-color: #3dc076;
//  animation: antCheckboxEffect 0.36s ease-in-out;
//  animation-fill-mode: backwards;
//}
//li {
//  width: 220px;
//  height: 180px;
//  float: left;
//  margin-right: 32px;
//  margin-top: 10px;
//}
//.wrong{
//  position: relative;
//  top: 0;
//  left: 0;
//  display: block;
//  width: 70px;
//  height: 25px;
//  //background-color: #fff;
//  /* border: 1px solid #d9d9d9; */
//  border-radius: 2px;
//  border-collapse: separate;
//  transition: all 0.3s;
//  background-color: darkred;
//  z-index: 3;
//  animation: antCheckboxEffect 0.36s ease-in-out;
//  animation-fill-mode: backwards;
//}
.header {
  position: relative;
  width: 100%;
  height: 200px;
  //background-image: url('123');
  background-size: cover;
  color: #fff;
}
.big{
  font-size: 24px;
}
.layer_icon{
  position: absolute;
  top: 30%;
  right: 0.3%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  background: white;
  padding: 8px;
  cursor: pointer;
}
.review_icon{
  position: absolute;
  top: 38%;
  right: 0.3%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  background: white;
  padding: 8px;
  cursor: pointer;
}
.review_deleteIcon{
  position: absolute;
  top: 45%;
  right: 0.3%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  background: white;
  padding: 8px;
  cursor: pointer;
}
.layer_img{
  width: 25px;
  height: 25px;
}
.layer_ditu{
  width: 80px;
  height: 59px;
  cursor: pointer;
  margin-left:4px;
  margin-right:8px;
}
.layer_div{
  position: absolute;
  top: 30%;
  right: 3.5%;
  background-color: white;
  width: 300px;
  height: 150px;
  padding: 10px;
}
.layer_close{
  cursor: pointer;
  border-color: white;
  width: 10px;
  height: 20px;
  &:hover{
    border-color: white;
  }
}
//.img_div{
//  //#4185d0
//  border: 2px solid red;
//}
.question {
  font-size: 16px;
  color: #595959;
  padding: 16px 24px;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  height: 720px;
}
.question .qbody {
  margin-top: 16px;
  color: #262626;
  line-height: 28px;
  margin-bottom: 16px;
  word-break: break-all;
}
.question .qfooter {
  height: 20px;
}
.chosen {
  color: #ba9e83;
  border-color: #ba9e83;
}
.false {
  color: #cb1e1e;
}
.correct {
  color: #3dc076;
}
.icon {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  left: 12px;
}
.detailbody {
  width: 960px;
  margin: 0 auto;
}
.qanswer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0 24px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  //background-color: rgb(255, 255, 255);
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
.headerRow{
  float: right;
}
.actionRow {
  margin-top: 16px;
  margin-bottom: 52px;
  height: 40px;
  position: relative;
  top: 10px;
  :global{.ant-btn:hover, .ant-btn:focus {
    color: #cb1e1e;
    background-color: #fff;
    border-color: #cb1e1e;
  }}
}
.preBtn{
  float: left;
  cursor: pointer;
  color: #fff;
  background-color: #cb1e1e;
  border-color: #cb1e1e;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.nextBtn {
  float: right;
  //width: 160px;
  //height: 40px;
  color: #fff;
  background-color: #cb1e1e;
  border-color: #cb1e1e;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.qanswer:hover {
  border: 1px solid #ba9e83;
}
.qanswerchoosable{
  color: #ba9e83;
  border-color: #ba9e83;
}
:global{
  ::-webkit-scrollbar{
    width:2px;
  }
}
