
.normal {
  font-family: Georgia, sans-serif;
  //margin-top: 4em;
  text-align: center;
}

.welcome {
  //height: 512px;
  background: url(../assets/background.png);
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-size:contain;
  width:100vw;
  height:100vh;
}
.button_div{
  height:200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button{
  width:400px;
  height: 130px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
