
.home_footer {
  //background-color: @themeColor;
  background: rgba(200, 200, 200, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}
